@page "/home"
@attribute [Authorize]
@layout AuthLayout
@inject IDialogService DialogService
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

@using System.IdentityModel.Tokens.Jwt
@using System.Text.Json
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Web.Virtualization

<RightDrawer />
<SearchBar />

<MudContainer Style="padding-top: 64px; padding-right: 200px">
    <MudTable Items="_posts" Breakpoint="Breakpoint.Sm" Virtualize="true" FixedHeader="true">
        <HeaderContent>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
                <div class="d-flex flex-column" style="height: 300px; overflow-y: auto;" onclick="@(() => OpenPostPage(@context.PostId))">
                    <div>
                        <MudButton OnClick="@(() => NavigateToProfile(@context.Username))">@context.FirstName @context.LastName - @context.Username - @context.Date</MudButton>
                    </div>
                    <div style="margin-top: 15px">
                        <MudText>@context.Content</MudText>
                    </div>
                    <div class="d-flex align-end flex-grow-1">
                        <MudButton>Like</MudButton>
                        <MudButton OnClick="@(() => OpenCommentDialog(@context.PostId))">Comment</MudButton>
                    </div>
                </div>
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudContainer>



@code {
    private List<Post> _posts = new();
    private string _lastPostId = "";
    private string _lastPostTimestamp = "";
    private bool isLoading = false;
    private bool hasMorePosts = true;

    private async void OpenCommentDialog(string postId)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters();
        //pass the current users id, the post id in parameters
        parameters.Add("userGuid", await LocalStorage.GetItemAsync<string>("userGuid"));
        parameters.Add("postId", postId);
        DialogService.Show<Dialogs.CommentDialog>("", parameters, options);
    }

    private void OpenPostPage(string postId)
    {
        NavigationManager.NavigateTo($"/post/{postId}");
    }


    protected override async Task OnInitializedAsync()
    {
        await LoadMorePosts();
    }

    private void NavigateToProfile(string profileUsername)
    {
        NavigationManager.NavigateTo($"/profile/{profileUsername}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var dotNetHelper = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("detectScrollBottom", dotNetHelper);
        }
    }

    [JSInvokable]
    public async Task LoadMorePosts()
    {
        if (isLoading || !hasMorePosts) return; // Exit if a load operation is already in progress or no more posts

        isLoading = true; // Set the flag to indicate that a load operation is starting.

        try
        {
            var userId = await LocalStorage.GetItemAsync<string>("userGuid");
            var requestUri = "http://localhost:8006/post/GetPosts";

            var request = new HttpRequestMessage
                {
                    Method = HttpMethod.Get,
                    RequestUri = new Uri(requestUri),
                    Content = JsonContent.Create(new
                    {
                        userId = userId,
                        lastPostId = _lastPostId,
                        lastPostTimestamp = _lastPostTimestamp,
                        limit = 4
                    })
                };

            var response = await Http.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                var postsResponse = await response.Content.ReadFromJsonAsync<GetPostsResponse>();
                if (postsResponse.Posts.Count == 0)
                {
                    hasMorePosts = false; // No more posts to load
                                          // Optionally, you can also inform the user that they've reached the end
                } else
                {
                    _posts.AddRange(postsResponse.Posts);
                    _lastPostId = postsResponse.LastPostId;
                    _lastPostTimestamp = postsResponse.LastPostTimestamp;
                }
                StateHasChanged();
            } else
            {
                // Handle error
                hasMorePosts = false; // Assume no more posts if there's an error
            }
        } finally
        {
            isLoading = false; // Reset the flag when the load operation is complete.
        }
    }


    public class Post
    {
        public string Username { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string PostId { get; set; }
        public string Content { get; set; }
        private string _date;

        public string Date
        {
            get => _date;
            set
            {
                // Parse the ISO 8601 string and convert it to the desired format.
                if (DateTime.TryParse(value, out DateTime parsedDate))
                {
                    _date = parsedDate.ToString("MM/dd/yyyy HH:mm:ss");
                } else
                {
                    _date = "Invalid date"; // You can decide how to handle invalid date strings.
                }
            }
        }
    }

    public class GetPostsResponse
    {
        public List<Post> Posts { get; set; }
        public string LastPostId { get; set; }
        public string LastPostTimestamp { get; set; }
        public string Message { get; set; }
    }
}

@if (!hasMorePosts && _posts.Count > 0)
{
    <div class="end-of-posts-message">
        You've reached the end of the posts.
    </div>
}

